
body{
  background-image: url('/images/background_ind.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* optional: makes the background stay in place */
  font-family: 'Segoe UI', sans-serif;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-left {
  display: flex;
  align-items: center;
  margin-left: 45px;
}

.logo {
  height: 125px;
  width: auto;
  margin-right: 8px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.2);
}
.nav-right {
  display: flex;
  align-items: center;
  transform: translateX(600px);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 1000;
  transition: color 0.2s ease;
}

.nav-links li a:hover {
  color: gold;
}

.linkClass {
  padding-left: 40px;
}

.chess {
  display: inline-block;
  margin-top: 80px;
  margin-left: 210px;
  height: max-content;
}

.chess_club {
  font-family: 'Courier New', Courier, monospace;
  color: burlywood;
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 50px;
}
.icon-bar {
  width: auto;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  padding: 10px 20px;
  width: 40px;
  gap: 16px;
  display: inline-block;
  background: transparent;
  vertical-align: top;
  transform: translateX(700px);
}
.icon-bar img {
  height: 75px;
  width: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: block;
}
.icon-bar img:hover {
  transform: scale(1.3);
}

.logo-at-center{
  display: block;
  margin-left:50px;
}

.logo-about{
  height: 250px;
  width: auto;;
}

.main{
  display: block;
  margin-left:200px;
  font-size:20px;
  text-align: center;
  margin-right: 200px;
  margin-block-end: 100px;
}

.heading{
  font-size:50px;
  color:#FFD700;
}

.team{
  margin-left:200px;
  margin-right:200px;
  display: block;
}

.cordi{
  display: inline-block;
  text-align: center;
}

.cordi-image{
  
}